{%- extends "layout.html" %}
{%- block content %}

<div class="uk-container uk-margin">
  <ul class="uk-breadcrumb">
    <li><a href="/todolist">todolist</a></li>
    <li><span>{{ todo.title}}</span></li>
  </ul>
</div>

<div class="uk-container">
  <h3>
    <span class="uk-badge">{{ todo.status }}</span>&nbsp;
    {{ todo.title }}
  </h3>
  <div>
    <table class="uk-table uk-table-justify">
      <tr><th>Created At</th><td>{{ todo.created_at }}</td></tr>
      <tr><th>Due Date</th><td>{{ todo.due_date }}</td></tr>
    </table>
    {% if todo.description is not none %}
      <div>
        <h4>Description</h4>
        <p>{{ todo.description }}</p>
      </div>
    {% endif %}
  </div>
</div>

<hr class="uk-divider-icon">

<div class="uk-container">
  <h3>Edit Profile</h3>
  <form action="/todo/{{todo.id}}" method="post" class="uk-form-horizontal">
    <input type="hidden" name="_method" value="patch">

    <div class="uk-margin">
      <label for="title" class="uk-form-label">Title</label>
      <div class="uk-form-controls">
        <input type="text" name="title" id="title"
          value="{{ todo.title }}"
          placeholder="task title" class="uk-input">
      </div>
    </div>
    <div class="uk-margin">
      <label for="status" class="uk-form-label">Status</label>
      <div class="uk-form-controls">
        <select name="status" id="status" class="uk-select">
          {% for st in TodoStatus %}
          <option
            value="{{ st.value }}"
            {{ 'selected' if st.value == todo.status.value else '' }}
            >{{ st }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="uk-margin">
      <label for="due_date" class="uk-form-label">Due Date</label>
      <div class="uk-form-controls">
        <input
          type="date" name="due_date" id="due_date"
          value="{{ todo.due_date.date() if todo.due_date is not none else '' }}"
          class="uk-input">
      </div>
    </div>
    <div class="uk-margin">
      <label for="description" class="uk-form-label">Description</label>
      <div class="uk-form-controls">
        <textarea
          name="description" id="description"
          rows="4" class="uk-textarea"
          >{{ todo.description if todo.description }}</textarea>
      </div>
    </div>
    <div class="uk-margin">
      {% if messages|length > 0 %}
      <ul class="">
        {% for msg in messages %}
        <li class="uk-form-danger">{{ msg }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="uk-margin">
      <button class="uk-button uk-button-default">Update</button>
    </div>
  </form>

  <form action="/todo/{{todo.id}}" method="post">
    <input type="hidden" name="_method" value="delete">
    <div class="uk-margin">
      <button class="uk-button uk-button-default" onclick="return confirm('Really?');">Delete Task</button>
    </div>
  </form>

  <div class="uk-container">
    <a class="uk-button uk-button-default" href="/todolist">
      Back to the Todo List
    </a>
  </div>
</div>

{%- endblock %}

