{%- extends "layout.html" %}
{%- block content %}

<h3>Users ({{ users | count }})</h3>

{% if users|length > 0 %}
  <div class="uk-container">
    <table class="uk-table">
      <thead>
        <tr><th>ID</th><th>Username</th><th>Email address</th></tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td><a href="/user/{{user.id}}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="uk-container">
    <p uk-margin>No users yet ...</p>
    <a class="uk-button uk-button-default" href="/join">
      Sign Up
    </a>
  </div>
{% endif %}

{%- endblock %}

