{%- extends "layout.html" %}
{%- block content %}

<div class="uk-container uk-margin">
  <ul class="uk-breadcrumb">
    <li><a href="/users">users</a></li>
    <li><span>{{ user.name }}</span></li>
  </ul>
</div>

<div class="uk-container">
  <h3>{{ user.name }}</h3>
  <div>
    <table class="uk-table uk-table-justify uk-table-divider">
      <tr><th class="uk-width-small">ID</th><td>{{ user.id }}</td></tr>
      <tr><th>Email address</th><td>{{ user.email }}</td></tr>
      <tr><th>Username</th><td>{{ user.name }}</td></tr>
      <tr><th>Location</th><td>{{ user.location if user.location }}</td></tr>
    </table>
    {% if user.profile is not none %}
      <div>
        <h4>Profile</h4>
        <p>{{ user.profile }}</p>
      </div>
    {% endif %}
  </div>
</div>

{% if me and me.id == user.id %}
  <hr class="uk-divider-icon">

  <div class="uk-container">
    <h3>Edit Profile</h3>
    <form action="/user/{{user.id}}" method="post" class="uk-form-horizontal">
      <input type="hidden" name="_method" value="patch">

      <div class="uk-margin">
        <label for="name" class="uk-form-label">Username</label>
        <div class="uk-form-controls">
          <input type="text" name="name" id="name"
            placeholder="your name" class="uk-input"
            value="{{ user.name }}">
        </div>
      </div>
      <div class="uk-margin">
        <label for="password" class="uk-form-label">Password</label>
        <div class="uk-form-controls">
          <input type="password" name="password" id="password" class="uk-input">
        </div>
      </div>
      <div class="uk-margin">
        <label for="location" class="uk-form-label">Location</label>
        <div class="uk-form-controls">
          <input type="text" name="location" id="location"
            value="{{ user.location if user.location }}"
            placeholder="city, country" class="uk-input">
        </div>
      </div>

      <div class="uk-margin">
        <label for="profile" class="uk-form-label">Profile</label>
        <div class="uk-form-controls">
          <textarea
            name="profile" id="profile"
            rows="4" class="uk-textarea"
            >{{ user.profile if user.profile }}</textarea>
        </div>
      </div>
      <div class="uk-margin">
        {% if messages|length > 0 %}
          <ul class="">
            {% for msg in messages %}
              <li class="uk-form-danger">{{ msg }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-default">Update</button>
      </div>
    </form>

    <form action="/user/{{user.id}}" method="post">
      <input type="hidden" name="_method" value="delete">
      <div class="uk-margin">
        <button class="uk-button uk-button-default" onclick="return confirm('Really?');">Delete User</button>
      </div>
    </form>
  </div>
{% endif %}

{%- endblock %}

