{%- extends "layout.html" %}
{%- block content %}

<h3>Responder Todo App</h3>
<div>
  <p>
    This is a sample Todo web app that uses
    <a href="https://responder.kennethreitz.org/en/latest/#">the responder</a>.
  </p>

  <div class="uk-container">
    <div>
      <p uik-margin>
        <a class="uk-button uk-button-default" href="/users">
          Users
        </a>
        {% if isLogin() %}
          <a class="uk-button uk-button-default" href="/todolist">
            Todo List
          </a>
        {% else %}
          <a class="uk-button uk-button-default" href="/join">
            Sign Up
          </a>
          <a class="uk-button uk-button-default" href="/login">
            Login
          </a>
        {% endif %}
      </p>
    </div>
  </div>

  <div class="uk-container">
    <div>
      <h4>References</h4>
      <ul class="uk-list uk-list-disc">
        <li>Responder
          <ul class="uk-list uk-list-disc">
            <li><a href="https://responder.kennethreitz.org/en/latest/">responder 1.3.0 documentation</a></li>
            <li><a href="https://github.com/taoufik07/responder">taoufik07/responder</a></li>
          </ul>
        </li>
        <li>Database
          <ul class="uk-list uk-list-disc">
            <li><a href="https://www.mysql.com/jp/">MySQL</a></li>
            <li>
              <a href="https://www.sqlalchemy.org/">
                SQL Alchemy ... orm library.
              </a>
            </li>
            <li>
              <a href="https://alembic.sqlalchemy.org/en/latest/">
                Alembic ... db migration tool.
              </a>
            </li>
          </ul>
        </li>
        <li>CSS
          <ul class="uk-list uk-list-disc">
            <li><a href="https://getuikit.com/">UIkit</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

{%- endblock %}

